DATABASE_URL="postgresql://geo_user:geo_password@postgres:5432/geobooksharing_db?schema=public"
FRONTEND_URL="http://localhost:5173"
JWT_SECRET=Password_Segreta_Test
GOOGLE_BOOKS_KEY=INCOLLARE_QUI_LA_CHIAVE
NODE_ENV=development