:root {
  --dark_gray: #5c5b5be0;
  --text-color-light: #ffffff;
  --white-bg: #ffffff;
  --box-shadow: 0 7px 7px rgba(81, 86, 150, 0.623); /* Ombra più morbida e professionale */
  --border-radius: 12px;
  --pearl-white-bg: rgb(241, 238, 238); 
  --color-text-dark: #333333;
  --navbar-text-hover: #82c4f7;
  --btn-primary-color : #3194E7;
  --btn-primary-color-text: #ffffff;

  --section-spacing: clamp(1rem, 5vw, 2.5rem); /* Spaziatura tra sezioni elastica */
  --container-max-width: 1400px;
  --transition-speed: 0.3s;
}

.page {
  /*max-width: 1100px;*/
  padding: 3vw; 
  max-width: 1400px;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--color-text-dark); /* grigio scuro */
  line-height: 1.6; /* Aumenta l'aria tra le righe */
  margin: 0;
  padding: 0;
}

.intestazione {
  margin-bottom: 2rem;
  margin-top: 4.25rem;
}

.intestazione h1 {
  /* font-size: minimo 20px, ideale 4% dello schermo, massimo 36px */
  font-size: clamp(1.25rem, 30vw, 2.25rem)!important;
  font-weight: 300; /* Peso leggero per un look sofisticato */
  letter-spacing: -0.02em; /* Stringe leggermente le lettere, tocco professionale */
  line-height: 1.3;
  opacity: 0.9;
}

.sottotitolo {
  /* font-size: minimo 20px, ideale 4% dello schermo, massimo 36px */
  font-size: clamp(1rem, 2vw, 1.2rem);
  line-height: 1.3;
  opacity: 0.9;
}


/* Ottimizzazione per mobile (tablet e smartphone) */
@media (max-width: 748px) {

.page {
  padding: 5vw; 
}

}